---
layout: default
---

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if site.categories[page.category_name] %}
                {% for post in site.categories[page.category_name] %}
                <div class="card">
                    <a href="{{ site.baseurl }}{{ post.url }}" class="container">
                        <h1><strong>{{post.title}}</strong></h1>
                        </a>
                        <p>{{ post.excerpt | strip_html | truncatewords: 60 }}</p>
                    
                </div>
                {% endfor %}
                {% else %}
                <br>
                <p>No posts for this category. If you have something in mind, check <a href="/write">Write For Us</a>
                    page.</p>
                {% endif %}

            </div>
        </div>
    </div>
