---
layout: default
---

<div class="posts">

          <div class="posts">
              
    <div class="container">
                {% if site.categories[page.category_name] %}
                {% for post in site.categories[page.category_name] %}

                <article class="post">
                    <h1><strong>{{post.title}}</strong></h1>
                    <div>{{post.date | date_to_string}}</div>
                    <p>{{ post.excerpt | strip_html | truncatewords: 60 }}
            <div class="entry">
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">READ MORE</a> 
            </article>

                </div>          
                </p>
                
                </div>
                {% endfor %}
                {% else %}
                <br>
                <p>No posts for this category. If you have something in mind, check <a href="/write">Write For Us</a>
                    page.</p>
                {% endif %}

            </div>
    </div>
    <div>
      </div>
