---
layout: default
---

{% if page.background %}
<header class="masthead"
    style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if site.categories[page.category_name] %}
                {% for post in site.categories[page.category_name] %}
                <div class="card">
                        <h1><strong>{{post.title}}</strong></h1>
                        </a>
                        <p>{{ post.excerpt | strip_html | truncatewords: 60 }}</p>
                        <p> href="{{ site.baseurl }}{{ post.url }}" class="read-more">READ MORE</p>     
                </div>
                {% endfor %}
                {% else %}
                <br>
                <p>No posts for this category. If you have something in mind, check <a href="/write">Write For Us</a>
                    page.</p>
                {% endif %}

            </div>
        </div>
    </div>
